body{
background: #000;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 150%;
}

/* Layout */
.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}

.clockbox,
#clock {
    width: 100%;
}

/* Clock styles */
.face{fill:$color;}
.second{fill:none;stroke:$color;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.minute{fill:none;stroke:$color;stroke-width:6;stroke-linecap:round;stroke-miterlimit:10;}
.hour{fill:none;stroke:$color;stroke-width:12;stroke-linecap:round;stroke-miterlimit:10;}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /*transition: transform .5s ease-in-out;*/
}

.monat {
color:$color;
font-weight: bold;
font-size: 120%;
}

.tage {
	font-style: italic;
}

.tag {
color:$color;
}

.heute {
background-color: $color;
}

.sonntag {
	font-weight: bold;
}